[tool.poetry]
name = "minato"
version = "0.3.0"
description = "Cache and file system for online resources"
authors = ["Yasuhiro Yamaguchi <altescy@fastmail.com>"]
license = "MIT License"
readme = "README.md"
homepage = "https://github.com/altescy/minato"
keywords=["python", "cache", "s3", "google-cloud-storage"]

[tool.poetry.dependencies]
python = "^3.8"
requests = "^2.25.1"
tqdm = "^4.60.0"
boto3 = "^1.17.97"
google-cloud-storage = "^1.39.0"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
python-language-server = "^0.36.2"
pysen = {version = "^0.9.1", extras = ["lint"]}
moto = {version = "^2.0.9", extras = ["s3"]}

[tool.poetry.scripts]
minato = "minato.__main__:run"

[tool.pysen]
version = "0.9"

[tool.pysen-cli]
settings_dir = "."

[tool.pysen.lint]
enable_black = true
enable_flake8 = true
enable_isort = true
enable_mypy = true
mypy_preset = "strict"
line_length = 88
py_version = "py38"
[[tool.pysen.lint.mypy_targets]]
  paths = ["."]

[tool.pysen.lint.source]
  includes = ["."]
  excludes = [".venv/"]

[tool.black] # automatically generated by pysen
line-length = 88
target-version = ["py38"]

[tool.isort] # automatically generated by pysen
default_section = "THIRDPARTY"
ensure_newline_before_comments = true
force_grid_wrap = 0
force_single_line = false
include_trailing_comma = true
line_length = 88
multi_line_output = 3
use_parentheses = true

[tool.pytest.ini_options]
testpaths = ["tests/"]
log_format = "%(asctime)s - %(levelname)s - %(name)s - %(message)s"
log_level = "DEBUG"
markers = ["java"]
filterwarnings = [
    "ignore::DeprecationWarning",
    "ignore::PendingDeprecationWarning",
]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
